body {
	background: url('../images/images.jfif')
}
h1{
	font-style:italic;
	font-size: 130px;
	text-shadow: -1px -1px #20da52, 1px 1px #060, -3px 0 4px #000;
	font-family:Arial, Helvetica, sans-serif;
	color:rgb(20, 82, 5);
  -moz-box-shadow: 2px 2px 6px #888;
  -webkit-box-shadow: 2px 2px 6px #888;
  box-shadow:2px 2px 6px #888;
  font-weight:lighter;

	text-align:center;
  margin:16px
	;
}


  /* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(4, 65, 31, 0.8);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	text-shadow: -1px -1px #1e2120, 1px 1px #060, -3px 0 4px #000;
}
.topnav aa {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	text-shadow: -1px -1px #1e2120, 1px 1px #060, -3px 0 4px #000;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgba(147, 255, 246, 0.8);
	color: white;
}

#ma-photo{
	float: right;
	margin:-150px 0 0 0;
	float: left;
	width: 200px;
  }
#ma-photo1{
	float: right;
	margin:-170px 0 0 0;
	float: right;
	width: 200px;

}
.aa{
	color:#064406;
	/* text-shadow: -1px -1px #1e2120, 1px 1px #060, -3px 0 4px #000; */

  }
  .aaa{color: #064406;
	  text-shadow: -1px -1px #1e2120, 1px 1px #060, -3px 0 4px #000;
	  text-decoration: underline
  }
  #footercom{
	  float: left;
    background-color:rgba(147, 255, 246,0.8 );
	color:black;
	 z-index: 1;
	 text-align: left;
	  width: 100%;
  }

  .center-div {
    margin: 0 auto;
    width: 100px; 
}
  footer{

    left:0;
    bottom: 0;
    color: white;
		text-shadow: -1px -1px #1e2120, 1px 1px #060, -3px 0 4px #000;
    text-align: center;
	font-size: 10px;
	z-index: 2;
	width: 100%
  }
